.name-div {
    background-color: #EEECE7;
    background: #EEECE7;
    height: 25%;
}

.contact-div {
    background-color: #fff;
    background: #fff;
    height: 25%;
    margin-top: 2rem;
}

.habilidades-div {
    background-color: #E6ECF0;
    background: #E6ECF0;
    height: 25%;
    margin-top: 2rem;
}

.social-div {
    background-color: #C0C8AD;
    background: #C0C8AD;
    height: 25%;
    margin-top: 2rem;
}

.educacion-div {
    background-color: #fff;
    background: #fff;
    height: 25%;
    margin-top: 2rem;
}

.img-rad {
    border-radius: 84px !important;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: #000;
   color: white;
   text-align: center;
}